fastapi
uvicorn
gunicorn
matplotlib
pandas
pymysql
seaborn
numpy
fastapi[standard]
sentence-transformers
scikit-learn
tensorflow
rapidfuzz
spacy
tf-keras
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
huggingface_hub[cli]
hf_xet